extends layout

block head
	script
		var socket = io.connect('http://localhost');
		socket.on('connect', function() {
			$.jGrowl('<p>Conexión realizada con éxito');
		});
		$(function(){});
		socket.on('news', function (data) {
			console.log(data);
			socket.emit('my other event', { my: 'data' });
		});

block content
	h1= title
	p Welcome to #{title}