extends layout

block head
	script(src="/javascripts/index.js", type="text/javascript")
	
	style(type="text/css")
		#hand img,
		#deck img {
			width: 20%;
		}

block content
	h1= title
	p Welcome to #{title}
	
	fieldset
		legend Acciones
		ul
			li
				a(onclick="accion('draw');") Robar
			li
				a(onclick="accion('view deck');") Ver el mazo
	
	h2 Mano
	div#hand(style="border:1px solid blue;")
	
	h2 Mazo
	div#deck(style="border: 2px dashed gray;")